// Color variables

$textColor: #2c2c2c;
$shadowColor: #f8e71c;
$footerBGColor: #4f4f4f;
$buttonColor: #0e902d;
$sectionBGColor: #f0efed;
$commentDataColor: #074115;

// Font variables
// Main heading 
@mixin brandStyle($sizevalue) {
    font-size: $sizevalue;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

//Secondary headings and buttons
@mixin headingSection($sizeValue, $letterSpacing) {
    font-size: $sizeValue;
    letter-spacing: $letterSpacing;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

// // Founder heading - Fatima changed to Josefin Sans
// @mixin founderHeading($sizeValue, $letterSpacing) {
//     font-size: $sizeValue;
//     letter-spacing: $letterSpacing;
//     font-family: 'Roboto', Arial, Helvetica, sans-serif;
//     font-weight: bold;
// }

//Body text 
@mixin bodyText($sizeValue, $lineValue) {
    font-size: $sizeValue;
    line-height: $lineValue;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

@mixin formStyle($sizeValue, $lineValue) {
    font-size: $sizeValue;
    line-height: $lineValue;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

// Font-size default

html {
    font-size: 125%;
}

// Mobile hidden itens

.desktopOnly {
    display: none;
}

// Wrapper size and position
.wrapper {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

// Remove a decoration {
    a {
        text-decoration: none;
    }

// Remove li decoration {
    li {
        text-decoration: none;
        list-style-type: none;
    }
    
// 
    p {
        color: $textColor;
    }