// MAIN STYLES - MOBILE-FIRST

main {

    padding-bottom: 10%;

    background-color: $sectionBGColor;
    .wrapper {
        display: flex;

        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 10%;
    }

    h3 {
        @include headingSection(1.8rem, 1.3px);
        margin-bottom: 15px;
        text-align: center;
    }

    p {
        @include bodyText(0.8rem, 1.6rem);
        text-align: center;
    }

}