article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

.desktopOnly {
  display: none;
}

.wrapper {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style-type: none;
}

p {
  color: #2c2c2c;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 99;
  background: #074115;
  color: #fff;
  padding: 2%;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.skipLink:focus {
  left: 0;
}

header {
  background-image: url("./../images/homeHeader.jpg");
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 70%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

header div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% auto;
  width: 80%;
  max-width: 1048px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  width: 100%;
  padding: 30px 15px;
}

nav ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  position: absolute;
  top: 25;
  right: 20;
  z-index: 5;
}

nav a {
  font-size: 0.8rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #f0efed;
  padding: 20px;
}

nav .dropdown {
  color: #f8e71c;
  font-size: 2rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  top: 20;
  right: 20;
}

nav:hover ul,
nav:focus-within ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav:hover ul li,
nav:focus-within ul li {
  background-color: #4f4f4f;
  border: 1px solid #f8e71c;
  line-height: 3rem;
}

.mainTitle {
  max-width: 50%;
}

h1 {
  font-size: 3.2rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  top: 25vh;
  left: 3vh;
}

h1 span {
  color: #f8e71c;
}

@media (min-width: 768px) {
  header {
    height: 600px;
  }
  header div.wrapper {
    margin: 5% auto;
  }
  header h1 {
    font-size: 6rem;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    top: unset;
    margin: 30% 10%;
  }
  header div.desktopOnly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 200px;
  }
  header div.desktopOnly img {
    max-width: 40%;
  }
}

@media (min-width: 992px) {
  .mobileOnly {
    display: none;
  }
  header {
    position: relative;
  }
  header div.wrapper {
    margin: 3% auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav:hover ul,
  header nav:focus-within ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav:hover ul li,
  header nav:focus-within ul li {
    background-color: initial;
    border: none;
    line-height: initial;
  }
  header h1.desktopOnly,
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 0;
  }
  header h1.navLogo {
    width: 15%;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  header nav {
    padding: 0;
    position: static;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header nav h1,
  header nav ul {
    position: static;
  }
  header h1.mainTitle {
    font-size: 5.5rem;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    left: unset;
    z-index: 5;
    margin: 24% 10%;
  }
  header div.desktopOnly {
    position: absolute;
    margin-top: 300px;
  }
  header.headerHome nav div ul li a[href*="index"] {
    color: #f8e71c;
  }
}

@media (min-width: 1200px) {
  header h1.mainTitle {
    font-size: 7.5rem;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 15% 10%;
  }
  header div.desktopOnly {
    margin-top: 120px;
  }
  header div.desktopOnly img {
    max-width: 46%;
  }
}

main {
  padding-bottom: 10%;
  background-color: #f0efed;
}

main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
}

main h3 {
  font-size: 1.8rem;
  letter-spacing: 1.3px;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

main p {
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}

button {
  background: #0e902d;
  font-size: 1rem;
  letter-spacing: 0rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  margin: 20px;
}

button a {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

.btnFindOut {
  height: 50px;
  width: 200px;
}

.btnRead {
  height: 50px;
  width: 120px;
}

button:hover,
button:focus-within {
  opacity: 0.5;
}

section .photoContainer img {
  width: 100%;
  -webkit-box-shadow: 5px 5px #f8e71c;
          box-shadow: 5px 5px #f8e71c;
}

section .secondPost img {
  -webkit-box-shadow: -5px 5px #f8e71c;
          box-shadow: -5px 5px #f8e71c;
}

section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

section .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

section h3 {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

section p {
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}

.sectionInfo {
  background-color: #f0efed;
}

.sectionInfo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 10px auto;
}

.sectionInfo .fontIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10px;
  background-color: #f8e71c;
  border-radius: 50%;
  width: 1em;
  height: 0;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionInfo h3 {
  margin: 14px 0;
  text-align: left;
}

.sectionInfo p {
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: left;
}

.bannerSection {
  width: 100%;
}

.sectionFounder {
  margin: 30px auto;
  padding: 3% 0;
}

.sectionFounder h3 {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.sectionFounder .contentFounder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
}

.sectionFounder .contentFounder p {
  text-align: center;
}

.gallerySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% auto;
}

.gallery {
  margin: 0 2%;
}

.galleryPhoto1,
.galleryPhoto2,
.galleryPhoto3 {
  width: 100%;
}

@media (min-width: 768px) {
  section .wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section .firstPost,
  section .secondPost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  section .firstPost {
    top: -40;
  }
  section .firstText {
    margin: 5%;
    margin-top: 10%;
  }
  section .secondPost {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    bottom: -35;
  }
  section .secondPost .wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  section .secondPost p {
    text-align: right;
  }
  section .secondText {
    margin: 5%;
    margin-bottom: 10%;
  }
  section h3 {
    margin: 0;
    text-align: left;
  }
  section p {
    text-align: left;
  }
  section .btnRead {
    margin: 0;
  }
  section.sectionEvents {
    position: relative;
    height: 65vh;
  }
  .sectionInfo {
    padding-top: 5%;
  }
  section .sectionFounder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1% auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section .sectionFounder .photoContainer {
    width: 40%;
    margin: 4% auto;
  }
  section .sectionFounder .contentFounder {
    width: 60%;
    padding-left: 25px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section .sectionFounder .contentFounder p {
    text-align: left;
  }
  section .btnFindOut {
    margin: 0;
  }
  section .desktopOnly {
    display: block;
  }
  section .galleryPhoto1,
  section .galleryPhoto2,
  section .galleryPhoto3 {
    margin: 20px auto;
  }
}

@media (min-width: 992px) {
  section .firstPost {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: unset;
    margin-top: -25px;
    margin-bottom: 25px;
  }
  section .firstPost .wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  section .firstPost p {
    text-align: right;
  }
  section .secondPost {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: unset;
    margin-bottom: -25px;
    margin-top: 25px;
  }
  section .secondPost img {
    -webkit-box-shadow: -10px 10px #f8e71c;
            box-shadow: -10px 10px #f8e71c;
  }
  section .secondPost .wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section .secondPost p {
    text-align: left;
  }
  section .photoContainer {
    width: 85%;
    -webkit-box-shadow: 10px 10px #f8e71c;
            box-shadow: 10px 10px #f8e71c;
  }
  section .sectionFounder .contentFounder {
    padding-left: 50px;
  }
  section.sectionEvents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: unset;
    position: unset;
  }
  section .wrapper ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sectionInfo li {
    width: 50%;
  }
}

footer {
  background-color: #4f4f4f;
  margin: 0;
  font-size: 0.8rem;
  line-height: 2.5rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}

footer p {
  color: white;
  margin: 0;
}

header.headerSecondary {
  background-image: url("./../images/blogHeader.jpg");
  height: 500px;
}

header.headerSecondary .mainTitle {
  top: 35vh;
}

@media (min-width: 768px) {
  header.headerSecondary div.wrapper {
    margin: 2% auto;
  }
  header.headerSecondary .mainTitle {
    top: 25vh;
    left: 6vh;
  }
}

@media (min-width: 992px) {
  header.headerSecondary nav {
    background-color: black;
  }
  header.headerBlog nav div ul li a[href*="blog"] {
    color: #f8e71c;
  }
  header.headerBlog .mainTitle {
    top: 0;
    left: 0;
    margin: 33% 10%;
  }
}

@media (min-width: 1200px) {
  header.headerBlog .mainTitle {
    margin: 24% 10%;
  }
}

main.mainSecondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.mainSecondary .wrapper {
  padding: 0;
}

main.mainSecondary .photoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 90%;
  margin-top: -1.5em;
}

main.mainSecondary .photoContainer img {
  width: 100%;
  -webkit-box-shadow: -5px 5px #f8e71c;
          box-shadow: -5px 5px #f8e71c;
}

main.mainSecondary .blogPost {
  padding: 10px 0 10px 10px;
  margin-left: -4px;
  border-bottom: 2px solid #f8e71c;
  border-left: 2px solid #f8e71c;
}

main.mainSecondary h3 {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
}

main.mainSecondary .dateSign {
  font-size: 0.6rem;
  line-height: 1rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
}

main.mainSecondary .dateSign span {
  font-weight: bold;
}

main.mainSecondary p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: left;
}

main.mainSecondary .publicComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1em;
}

main.mainSecondary .publicComment .profileContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  text-align: center;
}

main.mainSecondary .publicComment .profileContainer img {
  max-width: 100%;
}

main.mainSecondary .publicComment .singleComment {
  margin-left: 1em;
  -webkit-box-flex: 3;
      -ms-flex: 3 auto 100%;
          flex: 3 auto 100%;
}

main.mainSecondary .publicComment h4 {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1rem;
  color: #074115;
  margin: 0;
}

main.mainSecondary .publicComment p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

main.mainSecondary .basicForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

main.mainSecondary .basicForm input,
main.mainSecondary .basicForm textarea {
  border: none;
  border-bottom: 2px solid #0e902d;
  background-color: #f0efed;
  margin: 1em 0em;
}

main.mainSecondary .basicForm input[type="text"],
main.mainSecondary .basicForm input[type="email"] {
  height: 2em;
}

main.mainSecondary .basicForm textarea {
  border: 2px solid #0e902d;
  padding-top: 30px;
  padding-left: 15px;
}

main.mainSecondary .basicForm input[type="text"],
main.mainSecondary .basicForm input[type="email"] {
  padding: 25px 0 25px 15px;
}

main.mainSecondary .basicForm input[type="submit"] {
  border: 2px solid #0e902d;
  background-color: #0e902d;
  font-size: 1rem;
  letter-spacing: 0rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  height: 50px;
  width: 100%;
}

main.mainSecondary .basicForm input[type="text"]:hover,
main.mainSecondary .basicForm input[type="text"]:focus-within,
main.mainSecondary .basicForm input[type="email"]:hover,
main.mainSecondary .basicForm input[type="email"]:focus-within,
main.mainSecondary .basicForm textarea:hover,
main.mainSecondary .basicForm textarea:focus-within {
  background-color: #f8e71c;
  opacity: 0.6;
}

main.mainSecondary .basicForm input[type="submit"]:hover,
main.mainSecondary .basicForm input[type="submit"]:focus-within {
  opacity: 0.5;
}

@media (min-width: 768px) {
  main.mainSecondary .publicComment .profileContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}

@media (min-width: 992px) {
  main.mainSecondary .photoContainer {
    margin-top: 0;
    z-index: 5;
  }
  main.mainSecondary .blogPost {
    padding-left: 6%;
  }
  main.mainSecondary h3 {
    text-align: left;
  }
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f0efed;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 5%;
}

aside .wrapper {
  width: 70%;
  background-color: #fff;
  margin-top: -65%;
  padding: 65% 2% 2% 2%;
}

aside .photoContainer {
  width: 75%;
  z-index: 5;
}

aside .photoContainer img {
  width: 100%;
  max-width: 100%;
}

aside h4 {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

aside p,
aside li {
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

aside p a,
aside li a {
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  color: #074115;
}

aside li::before {
  content: "\2022";
  color: #0e902d;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media (min-width: 768px) {
  aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  aside .wrapper {
    width: 100%;
    margin-top: -5%;
    margin-left: -40%;
    padding: 2% 2% 2% 45%;
  }
  aside .photoContainer {
    width: 35%;
  }
  aside h4 {
    margin-bottom: 2%;
  }
  aside ul {
    padding-left: 8%;
    margin: 1% 0;
  }
}

@media (min-width: 992px) {
  aside {
    display: inline-block;
  }
  aside .wrapper {
    max-height: 60vh;
    width: 72%;
    margin-top: -85%;
    margin-left: 30%;
    padding: 85% 5%;
  }
  aside .photoContainer {
    width: 100%;
  }
  aside .photoContainer {
    margin-top: 20%;
  }
}

@media (min-width: 1200px) {
  aside .wrapper {
    padding-bottom: 60%;
  }
}

@media (min-width: 992px) {
  .gridContainer {
    display: -ms-grid;
    display: grid;
    grid-gap: 0;
  }
  .gridHeader {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 12;
  }
  .gridMain {
    -ms-grid-column: 7;
        grid-column-start: 7;
    grid-column-end: 12;
  }
  .gridAside {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .gridFooter {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 12;
  }
}

header.headerContact {
  background-image: url("./../images/contactHeader.jpg");
}

header.headerContact .mainTitle {
  left: 5vh;
  top: 20vh;
  width: 45%;
}

@media (min-width: 768px) {
  header.headerContact nav div ul li a[href*="contact"] {
    color: #f8e71c;
  }
  header.headerContact .mainTitle {
    font-size: 5rem;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
}

@media (min-width: 992px) {
  header.headerContact .mainTitle {
    top: 0;
    left: 0;
    margin: 20% 10%;
    width: 43%;
  }
}

main.mainSecondary .contactForm input,
main.mainSecondary .contactForm textarea {
  background-color: #fff;
}

main.mainContact .contactForm {
  -webkit-box-shadow: -5px 5px #f8e71c;
          box-shadow: -5px 5px #f8e71c;
  background-color: #fff;
  padding-left: 4%;
  padding-right: 4%;
}

@media (min-width: 768px) {
  main.mainSecondary {
    margin-top: -5%;
  }
  main.mainContact .basicForm {
    z-index: 5;
  }
}

@media (min-width: 992px) {
  main.mainSecondary {
    margin-top: -25%;
  }
  main.mainSecondary .contactForm {
    -webkit-box-shadow: -10px 10px #f8e71c;
            box-shadow: -10px 10px #f8e71c;
  }
}

aside.asideContact .email p {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

aside.asideContact .address p {
  font-size: 0.7rem;
  line-height: 0.8rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

aside.asideContact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0efed;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

aside.asideContact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 10%;
  padding: 0;
}

aside.asideContact ul li {
  padding: 5%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside.asideContact ul li a {
  color: #0e902d;
}

aside.asideContact ul li::before {
  content: "";
}

aside.asideContact ul li:hover,
aside.asideContact ul li:focus-within {
  font-size: 1.5rem;
  padding: 0;
}

@media (min-width: 768px) {
  aside.asideContact li {
    font-size: 1.5rem;
  }
  aside.asideContact li:hover,
  aside.asideContact li:focus-within {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  aside.asideContact .wrapper {
    margin-top: 20%;
  }
  aside.asideContact ul {
    max-width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */